.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  #navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
  section{
      width: 80%;
      margin:auto;
      
  }
  .imagebanner{
      background-image: url('imagebanner2.jpg');
      height: 300px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      
  }
#banner{
    text-align: center;
    padding-top: 150px;
    padding-right: 400px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#body{
    background-image: url('website background.png');
    height: 700px;
}
body{
    background-image: url('website background.png');
}
.card{
    height: 400px;
    float: left;
  }
  button{
    padding: 25px;
    margin-left: 150px;
    margin-top: 10px;
    background-color: rgb(10, 156, 110);
    border-radius: 15px;
    cursor: pointer;
  }
  h2{
    margin-top: 30px;
    border:red solid 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    border-radius: 15px;
  }
h1{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.float {
  float: left;
  width: 450px;
  padding-left: 10px;
}
@media only screen and (max-width: 768px){
  .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  #navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
  
      
  
  .imagebanner{
      background-image: url('imagebanner2.jpg');
      height: 300px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      
  }
#banner{
    text-align: center;
    padding-top: 150px;
    padding-right: 400px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#body{
    background-image: url('website background.png');
    height: 700px;
}
body{
    background-image: url('website background.png');
}
.card{
    height: 400px;
    float: left;
  }
  button{
    padding: 25px;
    margin-left: 150px;
    margin-top: 10px;
    background-color: rgb(10, 156, 110);
    border-radius: 15px;
    cursor: pointer;
  }
  h2{
    margin-top: 30px;
    border:red solid 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    border-radius: 15px;
  }
h1{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.float {
  float: left;
  width: 450px;
  padding-left: 10px;
}
  


}